In [1]:
# The code was removed by Watson Studio for sharing.

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

This program prints Hello, World!

In [2]:
print("Hello World!")

Hello World!